@import "variables";
@import "modules";

//*Reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    mix-blend-mode: darken;
}

body{
    background-color: $bg-colors;
    font-family: $main-font;
    overflow-x: hidden;
}

//* Responsive Tasarım
@mixin mobile{
    @media (max-width:800px) { 
        @content;
    }
}

@mixin laptop{
    @media (min-width: 800px) and (max-width: 1400px) { 
        @content;
    }
}

// * Header Alanı
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    img{
        width: 50px;
        margin-left: 20px;
    }
    nav{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: $text-color;
            &:hover{
                color: crimson;
                transition: all 0.5s;
            }
        }
    }
}

#nav-left{
    a{
        padding: 0 20px;
        border-right: 1px solid gray;
        &:last-child{
            border-right: none;
        }
    }
}

#nav-right{
    gap: 30px;
    font-size: 15px;
    @include mobile {
        display: none;
    }
}

.opener{
    display: none;
    position: absolute;
    right: 0;
    bottom: -125px;
    background-color: rgb(220,220,220);
    box-shadow: 2px 2px 10px;
    // display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: #000;
    }
}

.menu{
    width: 40px;
    display: none;
    @include mobile{
        display: block;
    }
    &:hover + .opener {
        display: flex;
    }
}

//* Banner Alanı
.hero{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background: linear-gradient(rgb(215,215,215) 40%, $bg-colors);
    @include mobile{
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
    }
    @include laptop{
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    max-width: 500px;
    @include mobile{
        gap: 20px
    }
    h1{
        @extend %heading;
        font-size: 40px;
        @include mobile{
            text-align: center;
        }
        span{
            font-family: 'Times New Roman', Times, serif;
        }
    }
    p{
        @extend %p;
    }
    img{
        width: 200px;
    }
    h2{
        @extend %heading;
    }
    button{
        @extend %button;
        background-color: crimson;

        &:hover {
            background-color: rgb(168,16,46);
            transition: all 0.4s;
        }
    }
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &-banner{
        max-width: 800px;
        @include laptop{
            max-width: 500px;
        }
    }
    &-track{
        max-width: 500px;
    }
    p{
        max-width: 500px;
        text-align: center;
    }
}

// * İç Tasarım Alanı
#interior{
    @extend %design;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), black), url("/images/bmw-banner.jpeg");
    p{
        font-size: 20px;
        font-weight: bold;
        @include mobile{
            font-size: 15px;
        }
    }
}

// * Arabalar Alanı
#cars-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    .cars{
        display: flex;
        @include mobile(){
            flex-direction: column;
        }
        img{
            width: 300px;
        }
        h3{
            text-align: center;
        }
    }
    button{
        @extend %button;
        background-color: aqua;
        margin-top: 50px;
        &:hover{
            background-color: rgb(0,180,180);
            transition: all 0.5s;
        }
    }
}


// * Skyline Alanı
#exterior{
    @extend %design;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), black), url("/images/bmw-6.jpeg");
    p{
        font-size: 20px;
        @include mobile{
            font-size: 15px;
        }
    }
}

// * Footer Alanı
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000;
    padding: 50px;
    @include mobile{
        flex-direction: column;
        gap: 40px;
    }
    img{
        width: 80px;
        height: 90px;
        mix-blend-mode: unset;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile{
            align-items: center
        }
    }
    h2{
        @extend %heading;
        color: #fff;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}